name: Playwright Tests
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
jobs:
  playwright-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shard: [1/6, 2/6, 3/6, 4/6, 5/6, 6/6]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18

    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
      SHARD_COUNT: 5
      CURRENTS_PROJECT_ID: ${{ secrets.CURRENTS_PROJECT_ID }}
      CURRENTS_RECORD_KEY: ${{ secrets.CURRENTS_RECORD_KEY }}
      COMMIT_INFO_BRANCH: ${{ github.event.pull_request.head.ref }}
      COMMIT_INFO_MESSAGE: ${{ github.event.pull_request.title }}
      COMMIT_INFO_EMAIL: ${{ github.event.pull_request.email }}
      COMMIT_INFO_AUTHOR: ${{ github.event.pull_request.user.login }}
      COMMIT_INFO_SHA: ${{ github.event.pull_request.head.sha }}
      COMMIT_INFO_TIMESTAMP: ${{ github.event.pull_request.head.repo.updated_at }}
      COMMIT_INFO_REMOTE: ${{ github.event.repository.html_url }}

    - name: Install Playwright browsers
      run: npx playwright install --with-deps

    - name: Install dependencies
      run: npm install
    

    - name: Run Playwright tests
      run: npx pw --pwc-debug --key OGzz4AX4DzjE2DSA --project-id UA7nI9 --ci-build-id ${{ github.repository }}-${{ github.run_id }}-${{ github.run_attempt}} --shard ${{ matrix.shard }}

    # - name: Run commit info
    #   run: yarn ts-node ./src/commit-info-test.ts